LfServiceReniecCliente/Connected Services/ServiceReference1/ServiceReniec8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Web.UI.WebControls" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50778/ServiceReniec.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:50778/ServiceReniec.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import schemaLocation="http://localhost:50778/ServiceReniec.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Web.UI" />
  <xs:import schemaLocation="http://localhost:50778/ServiceReniec.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DropDownList">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ListControl">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DropDownList" nillable="true" type="tns:DropDownList" />
  <xs:complexType name="ListControl">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DataBoundControl">
        <xs:sequence>
          <xs:element minOccurs="0" name="AppendDataBoundItems" type="xs:boolean" />
          <xs:element minOccurs="0" name="AutoPostBack" type="xs:boolean" />
          <xs:element minOccurs="0" name="CausesValidation" type="xs:boolean" />
          <xs:element minOccurs="0" name="DataTextField" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataTextFormatString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DataValueField" nillable="true" type="xs:string" />
          <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfanyType" />
          <xs:element minOccurs="0" name="SelectedIndex" type="xs:int" />
          <xs:element minOccurs="0" name="SelectedValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ValidationGroup" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ListControl" nillable="true" type="tns:ListControl" />
  <xs:complexType name="DataBoundControl">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseDataBoundControl">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataMember" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ItemType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SelectMethod" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataBoundControl" nillable="true" type="tns:DataBoundControl" />
  <xs:complexType name="BaseDataBoundControl">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:WebControl">
        <xs:sequence>
          <xs:element minOccurs="0" name="DataSource" nillable="true" type="xs:anyType" />
          <xs:element minOccurs="0" name="DataSourceID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BaseDataBoundControl" nillable="true" type="tns:BaseDataBoundControl" />
  <xs:complexType name="WebControl">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Web.UI" base="q2:Control">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccessKey" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="BackColor" type="q3:Color" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="BorderColor" type="q4:Color" />
          <xs:element minOccurs="0" name="BorderStyle" type="tns:BorderStyle" />
          <xs:element minOccurs="0" name="BorderWidth" type="tns:Unit" />
          <xs:element minOccurs="0" name="CssClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="ForeColor" type="q5:Color" />
          <xs:element minOccurs="0" name="Height" type="tns:Unit" />
          <xs:element minOccurs="0" name="TabIndex" type="xs:short" />
          <xs:element minOccurs="0" name="ToolTip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Width" type="tns:Unit" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="WebControl" nillable="true" type="tns:WebControl" />
  <xs:simpleType name="BorderStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSet" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Dotted" />
      <xs:enumeration value="Dashed" />
      <xs:enumeration value="Solid" />
      <xs:enumeration value="Double" />
      <xs:enumeration value="Groove" />
      <xs:enumeration value="Ridge" />
      <xs:enumeration value="Inset" />
      <xs:enumeration value="Outset" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BorderStyle" nillable="true" type="tns:BorderStyle" />
  <xs:complexType name="Unit">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="tns:UnitType" />
      <xs:element name="value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Unit" nillable="true" type="tns:Unit" />
  <xs:simpleType name="UnitType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pixel">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Point">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Pica">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Inch">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Mm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">5</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Cm">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">6</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Percentage">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">7</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Em">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">8</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Ex">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">9</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UnitType" nillable="true" type="tns:UnitType" />
</xs:schema>