LfServiceReniecCliente/Connected Services/ServiceReference1/ServiceReniec3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceReniec" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceReniec" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ConsultaLogin">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellidos" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Contrasenna" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaLogin" nillable="true" type="tns:ConsultaLogin" />
  <xs:complexType name="RegSede">
    <xs:sequence>
      <xs:element minOccurs="0" name="Direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegSede" nillable="true" type="tns:RegSede" />
  <xs:complexType name="RegSolicitud">
    <xs:sequence>
      <xs:element minOccurs="0" name="Ciudadanoid" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="S_fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SolicitudId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegSolicitud" nillable="true" type="tns:RegSolicitud" />
  <xs:complexType name="ArrayOfRegEstado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegEstado" nillable="true" type="tns:RegEstado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegEstado" nillable="true" type="tns:ArrayOfRegEstado" />
  <xs:complexType name="RegEstado">
    <xs:sequence>
      <xs:element minOccurs="0" name="EstadoSolicitud" type="xs:int" />
      <xs:element minOccurs="0" name="ID_EstadoSolicitud" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegEstado" nillable="true" type="tns:RegEstado" />
</xs:schema>